/Impresion.class
/Vinculacion.class
/dd.class
/Vinculacion_fase1.class
/Vinculacion_fase_2.class
/Vinculacion_fase2.class
/Asigna_espacio.class
/Comprueba_tipos.class
/Vinculacion$Vinculacion_fase1.class
/Vinculacion$Vinculacion_fase2.class
